@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F2F7FF;
  box-sizing: border-box;
}
.wInput{
  width: 36rem;
}

.wAside{
  width: 16%;
  padding-right: 3rem;
}



.rounded-4xl{
  border-radius: 2rem;
}

